{% extends 'ng_app/partials/sections/base_sections.html' %}

{% load i18n staticfiles %}

{% block header_image %}
    {% verbatim %}
    <img ng-src="{{ vm.post.featured_picture }}" alt="{{ vm.post.title }}"/>
    {% endverbatim %}
{% endblock %}

{% block header_title %}
    {% verbatim %}
    {{ vm.post.title }}
    {% endverbatim %}
{% endblock %}

{% block content %}
    <section id="blog-single">
        <div class="container ptgw-2x pbgw-2x">
            <div class="row">
                <div id="share-urls" class="col-sm-2">
                    {% verbatim %}
                    <a href="#" socialshare="" class="mbgw" socialshare-provider="facebook" socialshare-text="" socialshare-url="{{ vm.sharePath }}">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" socialshare="" class="btn btn-twitter pull-left mrgw-05x" socialshare-provider="twitter" socialshare-text="{{ vm.post.title }}" socialshare-url="{{ vm.sharePath }}">
                        <i class="fa fa-twitter"></i>
                    </a>
                    {% endverbatim %}
                </div>
                {% verbatim %}
                <div class="col-sm-8">
                    <div ng-bind-html="vm.post.content" class="post-content"></div>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </section>
{% endblock %}