{% extends 'ng_app/partials/sections/base_sections.html' %}

{% load i18n staticfiles %}

{% block header_title %}{% trans 'Contáctanos' %}{% endblock %}

{% block header_image %}
    <img src="{% static 'img/contact/hero-vector.svg' %}" alt=""/>
{% endblock %}

{% block content %}
    <section id="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ptgw-3x pbgw-3x">
                    <div class="wrapper prgw-2x plgw-2x mbgw">
                        <h1 class="nmt red text-center">
                            {% trans 'Encuéntranos en:' %}
                        </h1>
                        <div class="block text-center">
                            <p>
                                <strong>Bogotá:</strong>&nbsp;
                                <span class="gray-light">
                                    Carrera 11 # 96 - 43 Oficina 501&nbsp;
                                    Tel: (571) 8050100&nbsp;
                                    Cel: (57) 321 4973074
                                </span>
                            </p>
                            <p>
                                <strong>Medellín:</strong>&nbsp;
                                <span class="gray-light">
                                    Cra 43 A No 19A-87 Of 235&nbsp;
                                    Tel: (57)(4) 2327656&nbsp;
                                    Cel: (57) 310 3436423
                                </span>
                            </p>
                            <p>
                                <strong>México D.F. :</strong>&nbsp;
                                <span class="gray-light">
                                    Av Xola 304, torre D2-301. Colonia Del Valle Norte, Delegación Benito Juaréz. México DF. CP 03103&nbsp;
                                    Tel:  (+52) (1) 55 6588 0919&nbsp;
                                    (+52) (1) 55 6588  7083.
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="block prgw plgw">
                        <img src="{% static 'img/contact/mapa.jpg' %}" alt="" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-sm-6 ptgw-3x pbgw-3x bg-red">
                    <div class="wrapper prgw-2x plgw-2x mbgw-5x">
                        <h1 class="nmt white text-center">
                            {% blocktrans %}
                                Empieza tu estrategia de marketing olfativo ahora;
                                haz de tu hogar un espacio único.
                            {% endblocktrans %}
                        </h1>
                        <h2 class="nm orange text-center">
                            {% trans 'Escríbenos, estaremos felices de servirte.' %}
                        </h2>
                        <div class="slashed-line white mtgw"></div>
                        <div ng-show="vm.success" class="block text-center">
                            <img src="{% static 'img/services/scentrade-logo-white.svg' %}" alt="" width="50" class="mtgw"/>
                            <h1 class="nmb orange">
                                {% trans '¡Haz elegido una gran experiencia!' %}
                            </h1>
                            <h2 class="nm white mbgw">
                                {% trans 'Pronto uno de nuestros asesores se pondrá en contacto contigo. Gracias.' %}
                            </h2>
                            <h2 class="nm white">
                                {% trans 'Te invitamos a seguirnos en nuestras redes sociales.' %}
                            </h2>
                            <div id="social-buttons-white" class="block text-center">
                                <h1>
                                    <a href="https://www.facebook.com/ScentradePuroSentido" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="https://twitter.com/scentrade" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </h1>
                            </div>
                        </div>
                        <form id="contact-form"
                              name="{{ contact_form.form_name }}"
                              class="buho-form"
                              ng-submit="vm.submitContactForm()"
                              ng-hide="vm.success"
                              novalidate>
                            {{ contact_form.as_div }}
                            <button type="submit" class="btn btn-orange pull-right" data-loading-html="<i class='fa fa-spinner fa-spin'></i> {% trans 'Enviando...' %}">
                                {% trans 'Enviar' %} <i class="fa fa-angle-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}