{% extends 'ng_app/partials/sections/base_sections.html' %}

{% load i18n staticfiles %}

{% block header_title_mom %}
    <h1 class="has-small">
        {% trans 'Hogares con' %}<br>
        <small>{% trans 'puro sentido' %}</small>
    </h1>
{% endblock %}

{% block header_image %}
    <img src="{% static 'img/home/hero-vector.svg' %}" alt=""/>
{% endblock %}

{% block content %}
    <section id="home-details">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="box-square">
                        <div class="wrapper-full-absolute">
                            <div class="vcw">
                                <div class="vci">
                                    <h1 class="mb green-dark">{% trans 'Aromatízate' %}</h1>
                                    <p class="gray-light fz-md plgw-2x prgw-2x">
                                        {% blocktrans %}
                                            Convierte tu espacio en un lugar que te recibe con una
                                            infinidad de sensaciones, atrévete a vivir cosas diferentes.
                                            Escoge la fragancia que se identifique con tu personalidad,
                                            deja a un lado los aromas genéricos y comienza a crear una
                                            experiencia olfativa hecha a tu medida.
                                        {% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 bg-green text-center white">
                    <div class="box-square">
                        <div class="wrapper-full-absolute">
                            <div class="vcw">
                                <div class="vci">
                                    <h1 class="gb plgw-2x prgw-2x">
                                        {% blocktrans %}
                                            La diferencia<br>está en los<br>detalles
                                        {% endblocktrans %}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ptgw-2x pbgw-2x">
            <h1 class="gb text-center">
                {% blocktrans %}
                    <span class="green-dark">El placer de convertir tus espacios</span><br>
                    <span class="green">en universos olfativos</span>
                {% endblocktrans %}
            </h1>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="box-square">
                        <div class="wrapper-full-absolute">
                            <div class="vcw">
                                <div class="vci">
                                    <img ng-src="{% static 'img/temp/flor-scentrade.jpg' %}" alt="Flor scentrade" class="img-responsive centered"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="box-square">
                        <div class="wrapper-full-absolute">
                            <div class="vcw">
                                <div class="vci">
                                    <h1 class="mb green mbgw">{% trans 'Flor' %}</h1>
                                    <p class="fz-md mbgw plgw-2x prgw-2x">
                                        {% blocktrans %}
                                            Nuestros productos están pensados para despertar tus sentidos, deléitate
                                            con sus aromas y decora tu casa con exclusivos
                                        {% endblocktrans %}
                                    </p>
                                    <a ng-href="productos" class="btn btn-green-bordered btn-lg">
                                        {% trans 'Conócelos' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-green ptgw-2x pbgw-2x">
        <div class="container text-center ptgw-2x pbgw">
            <div class="row">
                <div class="col-sm-4 mbgw">
                    <img ng-src="{% static 'img/home/icon-flag.svg' %}" alt="{% trans 'Diferenciación' %}" width="70" height="70"/>
                    <h2>{% trans 'Diferenciación' %}</h2>
                    <p class="plgw prgw">
                        {% blocktrans %}
                            Somos la única compañía en el mercado que desarrolla el aroma
                            que tu quieres. Dinos cuál es la fragancia o perfume que más
                            te gusta y nosotros la ponemos en tu casa.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-sm-4 mbgw">
                    <img ng-src="{% static 'img/home/icon-scentrade-jar.svg' %}" alt="{% trans 'Fragancias memorables' %}" width="70" height="70"/>
                    <h2>{% trans 'Fragancias memorables' %}</h2>
                    <p class="plgw prgw">
                        {% blocktrans %}
                            La naturaleza nos brinda un sin número de esencias y nosotros
                            las combinamos para crear más de 2000 fragancias capaces de
                            transmitir distintas sensaciones. Cada mezcla tiene una personalidad
                            y tú puedes escoger la que mejor se adapte a ti.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-sm-4 mbgw">
                    <img ng-src="{% static 'img/home/icon-heart.svg' %}" alt="{% trans 'Salud' %}" width="70" height="70"/>
                    <h2>{% trans 'Salud' %}</h2>
                    <p class="plgw prgw">
                        {% blocktrans %}
                            Somos conscientes de la importancia de tu salud, por eso invertimos en
                            investigación para elaborar fragancias que a través de la aromaterapia
                            te hacen sentir mejor.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}