{% extends 'ng_app/partials/sections/base_sections.html' %}

{% load i18n staticfiles %}

{% block header_title %}{% trans 'Productos' %}{% endblock %}

{% block header_image %}
    <img src="{% static 'img/products/hero-vector.svg' %}" alt=""/>
{% endblock %}

{% block content %}
    <section id="products-nav" class="mtgw">
        <div class="container">
            <nav class="row mbgw">
                <a ng-href="#"
                   class="col-sm-4 h1 nmb gb text-center"
                   ng-class="{'active':vm.selectedTab === 'home'}"
                   ng-click="vm.fetchProducts('?target=home'); vm.selectedTab = 'home';">
                    {% trans 'Para tu hogar' %}
                </a>
                <a ng-href="#"
                   class="col-sm-4 h1 nmb gb text-center"
                   ng-class="{'active':vm.selectedTab === 'commercial'}"
                   ng-click="vm.fetchProducts('?target=commercial'); vm.selectedTab = 'commercial';">
                    {% trans 'Estrategias comerciales' %}
                </a>
                <a ng-href="#"
                   class="col-sm-4 h1 nmb gb text-center"
                   ng-class="{'active':vm.selectedTab === 'all'}"
                   ng-click="vm.fetchProducts(); vm.selectedTab = 'all';">
                    {% trans 'Lo quiero ver todo' %}
                </a>
            </nav>
            <div class="slashed-line mbgw-andhalf"></div>
        </div>
    </section>
    {% comment %}<section id="products-cart" class="mbgw">
        <div class="container">

        </div>
    </section>{% endcomment %}
    <section id="products-listing">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 product mbgw" ng-repeat="product in vm.products">
                    {# TODO html_name #}
                    {% verbatim %}
                    <h1 class="nm h2" ng-bind-html="product.html_name"></h1>
                    {% endverbatim %}
                    <a href=""
                       class="see-more gray mbgw-05x"
                       data-toggle="modal"
                       data-target="#product-{% verbatim %}{{ product.id }}{% endverbatim %}"
                            >
                        {% trans 'Ver +' %}
                    </a>
                    {% verbatim %}
                    <img ng-src="{{ product.main_picture }}" alt="{{ product.name }}" class="img-responsive"/>
                    <h2 class="gray-light">${{ product.price_cop|number }} COP</h2>
                    {% endverbatim %}
                    <button class="btn btn-red-bordered btn-lg btn-block bebas" ng-click="vm.addProductToCart(product.id)">
                        {% trans 'Añadir al carrito' %}
                        <i class="fa fa-shopping-cart"></i>
                    </button>

                    <!-- Modal -->
                    {% verbatim %}
                    <div class="modal fade" id="product-{{ product.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                        {% endverbatim %}
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h2 class="modal-title">Modal title</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {% verbatim %}
                                            <img ng-src="{{ product.main_picture }}" alt="{{ product.name }}" class="img-responsive"/>
                                            {% endverbatim %}
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <h1 class="nm h2 mbgw" ng-bind-html="product.html_name"></h1>
                                            {% verbatim %}
                                            <p class="mbgw"><i>{{ product.description }}</i></p>
                                            <h2 class="gray-light mbgw">${{ product.price_cop|number }} COP</h2>
                                            {% endverbatim %}
                                            <button class="btn btn-red-bordered btn-lg bebas" ng-click="vm.addProductToCart(product.id)">
                                                {% trans 'Añadir al carrito' %}
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}