{% load i18n staticfiles %}

<section id="homepage-hero">
    <div id="homepage-hero-video">
        <video autoplay loop>
            <source src="{% static 'video/bg-hero_3.webm' %}" type="video/webm">
            <source src="{% static 'video/bg-hero_3.mp4' %}" type="video/mp4">
        </video>
    </div>
    <div class="wrapper-full-absolute">
        <div class="vcw">
            <div class="vci">
                <div id="homepage-hero-text">
                    <div class="container">
                        <div class="text-center">
                            <img src="{% static 'img/homepage/hero-s.svg' %}" alt="Scentrade" width="100" class="mbgw"/>
                            <h1 class="gb nmt mbgw">{% trans 'Creamos experiencias olfativas memorables' %}</h1>
                            <nav>
                                <span class="btn-wrapper mrgw">
                                    <a ng-href="productos/commercial" class="btn btn-white-transparent btn-lg bebas">{% trans 'Para tu empresa' %}</a>
                                </span>
                                <span class="btn-wrapper">
                                    <a ng-href="productos/home" class="btn btn-white-transparent btn-lg bebas">{% trans 'Para tu hogar' %}</a>
                                </span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="homepage-top-clients-logos">
    <div class="container ptgw pbgw">
        <owl-carousel source="vm.clients" items="6" items-desktop="[1400,6]" items-mobile="[479,2]" auto-play="true">
        </owl-carousel>
    </div>
</section>
<section id="what-we-do">
    <div class="container-fluid">
        <div class="row">
            <div id="what-we-do-services" class="col-sm-4 left text-center white">
                <div class="wrapper">
                    <div class="vcw">
                        <div class="vci">
                            <img src="{% static 'img/homepage/icon-bag.svg' %}" alt="" width="50"/>
                            <h1>{% trans 'Estrategias<br>comerciales' %}</h1>
                            <a ng-href="servicios" class="btn btn-white-bordered">
                                &nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Ver +' %}&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="what-we-do-diamond" class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 center">
                <div class="box-square">
                    <div class="wrapper-full-absolute">
                        <div class="vcw">
                            <div class="vci">
                                <div class="block text-center">
                                    <img id="scentrade-blue-logo" ng-src="{% static 'img/homepage/scentrade-logo-blue.svg' %}" alt="Scentrade"/>
                                    <h1>{% trans '¿Qué hacemos?' %}</h1>
                                    <p class="gray-light">
                                        <i>
                                            {% blocktrans %}
                                                A través de los <strong>aromas</strong> impactamos el sentido<br>
                                                del olfato para provocar estímulos positivos que<br>
                                                perduren en el tiempo. Hacemos uso del<br>
                                                <strong>marketing olfativo</strong> como estrategia<br>
                                                comercial y personalizamos su hogar<br>
                                                con <strong>olores exclusivos</strong>.
                                            {% endblocktrans %}
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="what-we-do-home" class="col-sm-4 right text-center white">
                <div class="wrapper">
                    <div class="vcw">
                        <div class="vci">
                            <img src="{% static 'img/homepage/icon-house.svg' %}" alt="" width="50"/>
                            <h1>{% trans 'Hogares con<br>puro sentido' %}</h1>
                            <a ng-href="hogar" class="btn btn-white-bordered">
                                &nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Ver +' %}&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="homepage-testimonials">
    <div class="container text-center ptgw-2x pbgw-2x">
        <h1 class="gb mtgw mbgw">{% trans '¿Qué opinan nuestros clientes?' %}</h1>
        <div class="row">
            <div class="col-sm-4 testimonial text-center" ng-repeat="testimony in vm.testimonials">
                {% verbatim %}
                <p>
                    <i class="fa fa-quote-left"></i>
                    {{ testimony.text }}
                    <i class="fa fa-quote-right"></i>
                </p>
                {% endverbatim %}
                <p>
                    <i>
                        <strong>
                            {% verbatim %}
                            <a href="{{ testimony.url }}" ng-if="testimony.url">
                                {{ testimony.client_name }},&nbsp;
                            </a>
                            <span ng-if="! testimony.url">
                                {{ testimony.client_name }},&nbsp;
                            </span>
                            {{ testimony.client_age }}
                            {% endverbatim %}
                            {% trans 'años' %},
                            <br>
                            {% verbatim %}{{ testimony.client_occupation }}{% endverbatim %}
                        </strong>
                    </i>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="free-trial">
    <a href="" id="open-button"></a>
    <div class="container ptgw-4x pbgw-4x text-center">
        <div class="block mbgw">
            <img src="{% static 'img/services/free-trial.svg' %}" alt=""/>
        </div>
        <a ng-href="" class="btn btn-red-bordered btn-lg" ng-click="vm.openFreeTrialModal()"><i>{% trans '¡Solicítalo ya!' %}</i></a>
    </div>
</section>
<section id="olfactory-marketing">
    <div class="container text-center ptgw-3x pbgw-3x">
        <h1 class="gb blue mbgw-3x">
            {% blocktrans %}
                Hacemos marketing olfativo, pero<br>
                lo hacemos diferente.
            {% endblocktrans %}
        </h1>
        <div class="row reveal-items-container mbgw">
            <div class="col-sm-4 reveal-item mbgw">
                <img ng-src="{% static 'img/homepage/icon-question.svg' %}" alt="{% trans '¿Cómo funciona?' %}" width="70"/>
                <h2 class="blue mtgw">{% trans '¿Cómo funciona?' %}</h2>
                <p class="plgw prgw">
                    {% blocktrans %}
                        El ser humano es impresionable a través de los sentidos, recibe estímulos
                        externos y éstos le producen emociones que dependiendo del nivel de impacto
                        quedarán en la memoria para siempre. En Scentrade usamos el marketing
                        olfativo con Puro Sentido, quiere decir que nos servimos de esta función
                        cerebral para crear una experiencia positiva, que afecte las emociones
                        de los clientes y que con los aromas se establezca un vínculo profundo
                        entre la marca y los consumidores.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-sm-4 reveal-item mbgw">
                <img ng-src="{% static 'img/homepage/icon-nose.svg' %}" alt="{% trans 'Importancia del olfato' %}" width="70"/>
                <h2 class="blue mtgw">{% trans 'Importancia del olfato' %}</h2>
                <p class="plgw prgw">
                    {% blocktrans %}
                        El olfato es el único de los cinco sentidos que recibe sus estímulos en
                        la parte límbica del cerebro, los mismos centros de las emociones, la
                        toma de decisiones y la memoria. Así, los perfumes se convierten en
                        los protagonistas sensoriales, pues son capaces de capturar a los
                        individuos desde sus sentimientos y conectarlos con la naturaleza
                        instintiva que les mueve el corazón.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-sm-4 reveal-item mbgw">
                <img ng-src="{% static 'img/homepage/icon-cog.svg' %}" alt="{% trans 'En la práctica' %}" width="70"/>
                <h2 class="blue mtgw">{% trans 'En la práctica' %}</h2>
                <p class="plgw prgw">
                    {% blocktrans %}
                        Para ver los efectos de esta técnica es importante crear una estrategia
                        de mercadeo integral donde la marca debe definir el tipo de impresión que
                        quiere provocar en sus clientes. Así, se encuentra la fragancia que por
                        sus componentes, aromaterapia y arquetipos olfativos remonte a los sujetos
                        a unas emociones determinadas. Luego este perfume es expuesto en el lugar
                        y los elementos que estarán en contacto con los clientes, para crear un
                        branding sensorial y generando una relación emocional que el usuario
                        querrá repetir.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="block text-center">
            <a ng-href="nosotros" class="btn btn-blue-bordered">
                &nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Ver +' %}&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
        </div>
    </div>
</section>
<section id="our-products">
    <div class="container">
        <div id="our-products-picture"></div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 ptgw-2x pbgw-2x text-center white">
                {# I put it here to position relative to the col in xs devices #}
                <img id="scentrade-diamond-logo" ng-src="{% static 'img/homepage/our-products-logo.svg' %}" alt=""/>
                <h1 class="gb mtgw-2x mbgw-2x">{% trans 'Nuestros <br> productos' %}</h1>
                <p class="mbgw-2x">
                    {% blocktrans %}
                        Contamos con difusores que se adaptan a diferentes tamaños
                        y tipo de espacio.<br>
                        Hemos desarrollado diversidad de fragancias que transmitirán
                        la sensación que desees.
                    {% endblocktrans %}
                </p>
                <a ng-href="productos" class="btn btn-white-bordered btn-lg mbgw-2x">
                    {% trans 'Conócelos' %}
                </a>
            </div>
        </div>
    </div>
</section>


{% include 'ng_app/partials/snippets/free-trial-form.html' %}