form#contact-form {
  label {
    display: none;
  }

  .form-control {
    color: @orange;
    font-family: @headings-font-family;
    .placeholder(lighten(@orange, 10%));
    font-size: @font-size-h4;
  }
}