// @section products nav
// /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
section#products-nav {
  nav {
    a {
      display: block;
      padding: 0 50px;
      .transition(color ease-in-out 100ms);

      &:hover, &.active {
        text-decoration: none;
      }

      &:active, &:focus {
        text-decoration: none;
      }

      &.home {
        &:hover, &.active { color: @green; }
      }

      &.commercial {
        &:hover, &.active { color: @purple; }
      }

      &.all {
        &:hover, &.active { color: @red; }
      }
    }
  }

  // @responsive products nav
  // -----------------------------------------------------------------------------
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
    nav {
      a {
        padding: 0 30px;

        &:last-child {
          padding: 0 50px;
        }
      }
    }
  }
}

// @section products listing
// /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
section#products-listing {
  div.product {
    > div.wrapper {
      padding: @grid-gutter-width-half;
    }

    h1 {
      height: 66px; // 33px height * 2
      overflow: hidden;
    }

    a {
      display: block;
    }

    h1 {
      span {
        color: @purple;
      }
    }

    .btn {
      font-size: @font-size-h4;
    }
  }
}

// @section pagination
// /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
section#pagination {
  button.btn {
    background-color: transparent;
    font-size: @font-size-h3;
    color: #6f1749;
    font-family: @headings-font-family;

    &.number {
      span {
        border-bottom: 2px solid transparent;
      }

      &:hover, &.current {
        span {
          border-bottom: 2px solid #6f1749;
        }
      }
    }

    &.arrow {
      color: @red;
    }

    &:hover {
      text-decoration: none;
    }
  }
}