body.desktop {
  // Homepage animations
  // /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  div.homepage-item {
    .translate(0; 200px);
    .transition(all 500ms ease-in-out);

    &.reveal {
      .translate(0; 0);
    }
  }

  section#what-we-do {
    div.container-fluid {
      &:before {
        .transition(all ease-in-out 500ms);
      }

      &:after{
        .transition(all ease-in-out 500ms);
      }

      div#what-we-do-diamond {
        .transition(all ease-in-out 500ms);
      }

      div#what-we-do-services {
        .transition(all ease-in-out 500ms);

        div.wrapper {
          .transition(all ease-in-out 500ms);
        }
      }

      div#what-we-do-home {
        .transition(all ease-in-out 500ms);

        div.wrapper {
          .transition(all ease-in-out 500ms);
        }
      }
    }

    &.over-services {
      div.container-fluid {
        &:before {
          width: 70%;
        }

        &:after {
          width: 30%;
        }

        div#what-we-do-diamond {
          margin-left: 45%;
        }

        div#what-we-do-services {
          width: 50%;

          div.wrapper {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    &.over-home {
      div.container-fluid {
        &:before {
          width: 30%;
        }

        &:after {
          width: 70%;
        }

        div#what-we-do-diamond {
          margin-left: 5%;
        }

        div#what-we-do-home {
          width: 50%;

          div.wrapper {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }


  // Blog animations
  // -----------------------------------------------------------------------------
  section#blog-posts-listing {
    div.row {
      div[class*="col"] {
        background: no-repeat center center transparent;
        background-size: 100%;
        .transition(all ease-in-out 600ms);

        &:after {
          opacity: 0;
          .transition(all ease-in-out 400ms);
        }

        div.blog-box {
          div.text {
            opacity: 0;
            .translate(0; 400px);
            .transition(all 400ms ease-in-out);
          }
        }

        &:hover {
          background-size: 120%;

          &:after {
            opacity: 1;
          }

          div.blog-box {
            div.text {
              opacity: 1;
              .translate(0; 0);
            }
          }
        }
      }
    }
  }
}