.btn {
  border-radius: 0;
  font-weight: @font-weight-bold;
  .transition(all ease-in-out 100ms);

  // with bebas font
  &.bebas {
    font-family: @headings-font-family;
    font-weight: @font-weight-regular;
  }
}

.btn-lg {
  &.bebas {
    font-size: @font-size-h3;
  }
}

.btn-white-transparent {
  .button-variant(black, rgba(255,255,255,0.7), transparent);
}

.btn-white-bordered {
  .button-variant(white, transparent, white);
}

.btn-blue-bordered {
  .button-variant(@blue, transparent, @blue);
}

.btn-red-bordered {
  .button-variant(@red, transparent, @red);

  &:hover {
    background-color: @red;
    color: white;
  }
}

.btn-orange {
  .button-variant(white, @orange, @orange);
}

.btn-green-bordered {
  .button-variant(@green, transparent, @green-dark);
}