// Django-angular form errors
ul.djng-field-errors {
  list-style: none;
  padding-left: 0;

  li {
    &.invalid {
      display: block;
      color: white;
      font-weight: @font-weight-medium;
    }
  }
}