// Django-angular form errors
ul.djng-field-errors {
  list-style: none;
  padding-left: 0;

  li {
    &.invalid {
      display: block;
      color: @text-color;
      font-weight: @font-weight-medium;
    }
  }
}

form#contact-form {
  // Django-angular form errors
  ul.djng-field-errors {
    li {
      &.invalid {
        color: @orange;
      }
    }
  }
}