// Basic header styles
// -----------------------------------------------------------------------------
header#scentrade-header {
  nav.navbar {
    min-height: @header-height;
    background-color: white;
    border: none;
    margin-bottom: 0;
    .transition(background-color ease-in-out 200ms);

    &.scrolling {
      background-color: white !important;
      box-shadow: 0 2px 7px rgba(0,0,0,0.15);

      .navbar-nav {
        > li {
          > a {
            color: @text-color !important;
          }
        }
      }
    }
  }

  div.container {
    position: relative; // to position the cart
  }

  a.navbar-brand {
    display: block;
    height: @header-height - 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    img {
      height: @header-height - 20px;
      width: auto;
    }
  }

  .navbar-nav {
    margin-right: @header-height; // the width of the cart

    > li {
      > a {
        display: block;
        line-height: @header-height;
        height: @header-height;
        padding-top: 0;
        padding-bottom: 0;
        text-transform: uppercase;
        // TODO add as app color
        color: #404041;
        font-size: @font-size-small;

        &:hover, &:focus, &:active {
          background-color: transparent;
        }
      }
    }
  }
}

// @responsive: header
// -----------------------------------------------------------------------------
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
  header#scentrade-header {
    ul.navbar-nav {
      > li {
        > a {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}

// Other header styles
// /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

// Homepage header style
// -----------------------------------------------------------------------------
body.homepage {
  position: relative;

  header#scentrade-header {
    position: relative;
    z-index: @zindex-navbar-fixed;

    nav.navbar {
      background-color: transparent;
    }

    .navbar-nav {
      > li {
        > a {
          color: white;
        }
      }
    }
  }
}